.animated-icon1 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span {
background: 	#ff9228;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}


html, body { height: 100% }
body {display: flex;}
.navbar-toggler {border: none;}

.navbar-toggler, 
.navbar-toggler:active, 
.navbar-toggler:focus {
	outline: none;
}

.main {padding: 0px;margin: 0px;height: 100%;}
.services {padding: 0px;margin: 0px;height: 100%;}
.advantages {padding: 0px;margin: 0px;height: 100%;}
.contacts {padding: 0px;margin: 0px;height: 100%;}

.link:hover {
	color: red !important;
}

#particles-js {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-color: #202020;
}

#particles-js-1 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-color: #202020;
}

#particles-js-2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-color: #202020;
}

#particles-js-3 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-color: #202020;
}

.mainLink:hover {text-decoration: none; color: #404040; background-color: #ff9238}

/* MAIN PAGE */
@media(min-width: 768px)  {

	.logo {width: 250px;}
	.logoInBlock{visibility: hidden;}
	.nav-item{margin-right: 25px;}
	.navbar {font-size: 2.5vh;margin-top: 5vh;font-weight: 200;font-family: 'Exo 2', sans-serif;}

	.main > .textBlock {
		margin-left: 120px;
		display: inline-block;
		top: 35vh;
		left: 0;
		position: absolute;
		text-transform: uppercase;
	}

	.mainTitle{
		color: white;
		font-size: 4vw;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
		padding-bottom: 5vh;
	}

	.mainLink {
		text-transform: uppercase;
		font-size: 1vw;
		background-color: #ff9228;
		text-decoration: none;
		font-weight: bold;
		color: #202020;
		padding: 2vh 4vw;
		border-radius: 100px;
	}

	.robotImg {
		position: absolute;
		right: 0;
		bottom: 0;
		margin-right: 10vw;
		height: 65vh;
	}
}

@media(min-width: 540px) and (max-width: 767px)  {

	.logo {width: 200px;}
	.logoInBlock{visibility: hidden;}
	.nav-item{text-align: right; background-color: rgba(0,0,0,0.9); padding-right: 20px;}
	.navbar {font-size: 2.5vh;margin-top: 5vh;font-weight: 200;font-family: 'Exo 2', sans-serif;}
	.main {text-align: center;}

	.main > .textBlock {
		margin-top: 20vh;
		text-align: center;
		display: inline-block;
		text-transform: uppercase;
	}

	.mainTitle{
		color: white;
		font-size: 5vw;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
		padding-bottom: 3vh;
	}

	.mainLink {
		text-transform: uppercase;
		font-size: 2vw;
		background-color: #ff9228;
		text-decoration: none;
		font-weight: bold;
		color: #202020;
		padding: 2vh 4vw;
		border-radius: 100px;
	}

	.robotImg {
		position: absolute;
		bottom: 0;
		right: 0;
		margin-right: 25vw;
		text-align: center;
		height: 55vh;
	}
}

@media(min-width: 0px) and (max-width: 540px) {

	.logoInBlock {width: 300px; margin-top: 150px;}
	.nav-item{text-align: right; background-color: rgba(0,0,0,0.9); padding-right: 20px;}
	.navbar {font-size: 2.5vh;margin-top: 5vh;font-weight: 200;font-family: 'Exo 2', sans-serif;}
	.main {text-align: center;}

	.main > .textBlock {
		margin-top: 20vh;
		text-align: center;
		display: inline-block;
		text-transform: uppercase;
	}

	.mainTitle{
		color: white;
		font-size: 8vw;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
		padding-bottom: 3vh;
	}

	.mainLink {
		text-transform: uppercase;
		font-size: 4vw;
		background-color: #ff9228;
		text-decoration: none;
		font-weight: bold;
		color: #202020;
		padding: 2vh 4vw;
		border-radius: 100px;
	}

	.robotImg {
		position: absolute;
		bottom: 0;
		right: 0;
		margin-right: 0vw;
		text-align: center;
		height: 55vh;
		visibility: hidden;
	}
}
/* SERVICES */
@media(min-width: 768px) {

	.serviceInfo > img {height: 30vh; text-align: center;}
	.services > .container-fluid {text-align: center;}
	.services > .container-fluid > .imgBlock {text-align: center;}

	.services > .container-fluid > .textBlock > h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 3vw;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
		color: white;
	}

	.services > .container-fluid > .textBlock {
		display: inline-block;
		border-bottom: 4px solid #ffb600;
		margin-bottom: 5vh;
		margin-top: 25vh;
	}

	.serviceInfo > p {
		color: white;
		text-transform: uppercase;
		font-size: 3vh;
		margin-bottom: 50px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
	}
}

@media(min-width: 540px) and (max-width: 767px)  {
	.serviceInfo > img {height: 20vh; text-align: center;}
	.services > .container-fluid {text-align: center;}
	.services > .container-fluid > .imgBlock {text-align: center;}

	.services > .container-fluid > .textBlock > h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 6vw;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
		color: white;
	}

	.services > .container-fluid > .textBlock {
		display: inline-block;
		border-bottom: 4px solid #ffb600;
		margin-bottom: 5vh;
		margin-top: 20vh;
	}

	.serviceInfo > p {
		color: white;
		text-transform: uppercase;
		font-size: 2vh;
		margin-bottom: 50px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
	}
}


@media(min-width: 0px) and (max-width: 539px)  {
	.serviceInfo > img {height: 20vh; text-align: center;}
	.services > .container-fluid {text-align: center;}
	.services > .container-fluid > .imgBlock {text-align: center;}

	.services > .container-fluid > .textBlock > h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 6vw;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
		color: white;
	}

	.service-info {
		padding: 0;
		margin: 0;
	}

	.services > .container-fluid > .textBlock {
		display: inline-block;
		border-bottom: 4px solid #ffb600;
		margin-top: 20vh;
	}

	.serviceInfo > p {
		color: white;
		text-transform: uppercase;
		font-size: 2vh;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
	}
}
/* ADVANTAGES */
@media(min-width: 768px) {

	.serviceInfo > img {height: 30vh; text-align: center;}
	.advantages > .container-fluid {text-align: center;}
	.advantages > .container-fluid > .imgBlock {text-align: center;}

	.advantages > .container-fluid > .textBlock > h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 3vw;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
		color: white;
	}

	.advantages > .container-fluid > .textBlock {
		display: inline-block;
		border-bottom: 4px solid red;
		margin-bottom: 5vh;
		margin-top: 25vh;
	}

	.serviceInfo > p {
		color: white;
		text-transform: uppercase;
		font-size: 3vh;
		margin-bottom: 10px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
	}

	.serviceInfo > h3 {
		color: white;
		/*text-transform: uppercase;*/
		font-size: 16px;
		margin-bottom: 50px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 200;
	}
}

@media(min-width: 540px) and (max-width: 767px)  {
	.imgAdvantages {height: 10vh !important; text-align: center;}
	.advantages > .container-fluid {text-align: center;}
	.advantages > .container-fluid > .imgBlock {text-align: center;}

	.advantages > .container-fluid > .textBlock > h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 6vw;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
		color: white;
	}

	.advantages > .container-fluid > .textBlock {
		display: inline-block;
		border-bottom: 4px solid red;
		margin-top: 20vh;
	}

	.advantages > .container-fluid > .imgBlock > .serviceInfo > p {
		color: white;
		text-transform: uppercase;
		font-size: 2vh;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
		margin-bottom: 0px;
	}

	.advantages > .container-fluid > .imgBlock > .serviceInfo > h3 {
		color: white;
		/*text-transform: uppercase;*/
		font-size: 16px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 200;
	}
}


@media(min-width: 0px) and (max-width: 539px)  {
	.imgAdvantages {height: 10vh !important; text-align: center;}
	.advantages > .container-fluid {text-align: center;}
	.advantages > .container-fluid > .imgBlock {text-align: center;}

	.advantages > .container-fluid > .textBlock > h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 6vw;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
		color: white;
	}

	.advantages > .container-fluid > .textBlock {
		display: inline-block;
		border-bottom: 4px solid red;
		margin-top: 20vh;
	}

	.advantages > .container-fluid > .imgBlock > .serviceInfo > p {
		color: white;
		text-transform: uppercase;
		font-size: 2vh;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
		margin-bottom: 0px;
	}

	.advantages > .container-fluid > .imgBlock > .serviceInfo > h3 {
		color: white;
		/*text-transform: uppercase;*/
		font-size: 16px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 200;
	}
}

@media(min-width: 768px)  {
	.requistion {
		color: white;
		margin-top: 30vh;
		padding-left: 15vw;
	}
	
	.requistion > form > input[type=text] {
		width: 24vw;
		height: 5.5vh;
		margin-bottom: 2vh;
		background-color: #202020;
		color: white;
		padding: 10px;
		font-size: 13px;
		box-shadow: 0 0 5px #ffb600;
		border-radius: 5px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}

	.requistion > form > input[type=submit] {
		width: 24vw;
		height: 5.5vh;
		margin-bottom: 2vh;
		background-color: #ffb600;
		color: #202020;
		text-transform: uppercase;
		/*padding-top: 1.5vh;*/
		text-align: center;
		font-size: 13px;
		box-shadow: 0 0 5px #ffb600;
		border-radius: 5px;
		border: none;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
	}

	input[type="file"] {
	    display: none;
	}
	.custom-file-upload {
		width: 24vw;
		height: 5.5vh;
		line-height: 5.5vh;
	    border: 1px solid #ccc;
	    border-style: dashed;
	    text-align: center;
	    cursor: pointer;
		margin-bottom: 2vh;
		background-color: #202020;
		color: white;
		vertical-align: middle;
		font-size: 13px;
		box-shadow: 0 0 5px #ffb600;
		border-radius: 5px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}

	.contactBlock {
		color: white;
		margin-top: 30vh;
		padding-left: 10vw;
	}

	.contactImages > a > img {
		height: 3vh;
		margin-right: 1vw;
	}

	.contactTextBlock > p {
		margin: 0px;
	}

	.contactsTextBlock {
		margin-bottom: 4vh;
	}

	.contactsTitle {
		font-size: 4.4vh;
		text-transform: uppercase;
		color: white;
	}
	.contactsTextBlock {
		display: inline-block;
		border-bottom: 4px solid #ffb600;
	}
}

@media(min-width: 540px) and (max-width: 767px) {
	.requistion {
		color: white;
		text-align: center;
	}
	
	.requistion > form > input[type=text] {
		width: 300px;
		height: 35px;
		margin-bottom: 15px;
		background-color: #202020;
		color: white;
		padding: 10px;
		font-size: 13px;
		box-shadow: 0 0 5px #ffb600;
		border-radius: 5px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}

	.requistion > form > input[type=submit] {
		width: 300px;
		height: 35px;
		margin-bottom: 15px;
		background-color: #ffb600;
		color: #202020;
		text-transform: uppercase;
		/*padding-top: 1.5vh;*/
		text-align: center;
		font-size: 13px;
		box-shadow: 0 0 5px #ffb600;
		border-radius: 5px;
		border: none;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
	}

	input[type="file"] {
	    display: none;
	}
	.custom-file-upload {
		width: 300px;
		height: 35px;
		line-height: 35px;
		margin-bottom: 15px;
	    border: 1px solid #ccc;
	    border-style: dashed;
	    text-align: center;
	    cursor: pointer;
		background-color: #202020;
		color: white;
		/*padding: 1.5vh 8.5vw;*/
		font-size: 13px;
		box-shadow: 0 0 5px #ffb600;
		border-radius: 5px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}

	.contactBlock {
		color: white;
		text-align: center;
		margin-top: 20px;
	}

	.contactImages > a > img {
		height: 3vh;
		margin-right: 1vw;
	}

	.contactTextBlock > p {
		margin: 0px;
	}

	.contactsTextBlock {
		margin-bottom: 4vh;
	}

	.contactsTitle {
		font-size: 4.4vh;
		text-transform: uppercase;
		color: white;
	}
	.contactsTextBlock {
		display: inline-block;
		border-bottom: 4px solid #ffb600;
	}
	.contacts {
		padding-top: 20vh;
	}
}

@media(min-width: 0px) and (max-width: 539px) {
	.requistion {
		color: white;
		text-align: center;
		margin-top: 140px;
	}
	
	.requistion > form > input[type=text] {
		width: 180px;
		height: 35px;
		margin-bottom: 15px;
		background-color: #202020;
		color: white;
		padding: 10px;
		font-size: 13px;
		box-shadow: 0 0 5px #ffb600;
		border-radius: 5px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}

	.requistion > form > input[type=submit] {
		width: 180px;
		height: 35px;
		margin-bottom: 8px;
		background-color: #ffb600;
		color: #202020;
		text-transform: uppercase;
		/*padding-top: 1.5vh;*/
		text-align: center;
		font-size: 13px;
		box-shadow: 0 0 5px #ffb600;
		border-radius: 5px;
		border: none;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 900;
	}

	input[type="file"] {
	    display: none;
	}
	.custom-file-upload {
		width: 180px;
		height: 35px;
		line-height: 35px;
		margin-bottom: 15px;
	    border: 1px solid #ccc;
	    border-style: dashed;
	    text-align: center;
	    cursor: pointer;
		background-color: #202020;
		color: white;
		padding-top: 8px;
		/*padding: 1.5vh 8.5vw;*/
		font-size: 13px;
		box-shadow: 0 0 5px #ffb600;
		border-radius: 5px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}

	.contactBlock {
		color: white;
		text-align: center;
		margin-top: 10px;
	}

	.contactImages > a > img {
		height: 3vh;
		margin-right: 1vw;
	}

	.contactTextBlock > p {
		margin: 0px;
	}

	.contactsTextBlock {
		margin-bottom: 20px;
	}

	.contactsTitle {
		font-size: 20px;
		text-transform: uppercase;
		color: white;
	}
	.contactsTextBlock {
		display: inline-block;
		border-bottom: 4px solid #ffb600;
	}

	.section {
		position: relative;
	}

	.contacts {
		padding-bottom: 50px;
	}
}


@media(min-width: 0px) and (max-width: 539px) {
	.bannerformmodal {
		position: absolute;
		color: black;
		background-color: white;
	}

	.modal > p{
		text-align: center;
		padding: 10px;
		font-size: 13px;
	}

	.modal {
		width: 80vw !important;
	}

	.close-modal {
	  right: 10px !important;
	  top: 10px !important;
	  background-image: url("../img/close.png") !important;
	}

	.animated-icon1 span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		border-radius: 9px;
		opacity: 1;
		left: 80vw;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}

}

@media(min-width: 540px) {
	.bannerformmodal {
		position: absolute;
		color: black;
		background-color: white;
	}

	.modal > p{
		text-align: center;
		padding: 25px;
	}

	.modal {
		width: 60vw !important;
		min-width: 60vw !important;
	}

	.close-modal {
	  right: 10px !important;
	  top: 10px !important;
	  background-image: url("../img/close.png") !important;
	}

	.animated-icon1 span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}
}